
<p-toast key="tst"></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
         alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Welcome, Isabel!</div>
          <span class="text-600 font-medium">Sign in to continue</span>
        </div>
        <form [formGroup]="loginForm">
          <div>

            <div class="field p-fluid">
              <label htmlFor="email" class="block text-900 text-xl font-medium mb-2">email</label>
              <input pInputText id="email" type="text" formControlName="email" name="email" placeholder="Email address"/>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error mb-0">
                <div *ngIf="email.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="email.errors?.['minlength']">
                  This field must have at least 1 character.
                </div>
                <div *ngIf="email.errors?.['maxlength']">
                  This field must have at most 250 characters.
                </div>
              </div>
            </div>


            <div class="field p-fluid">
              <label htmlFor="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
              <p-password id="password1" formControlName="password" name="password" placeholder="Password" [toggleMask]="true"
                           inputStyleClass="w-full p-3 md:w-30rem"></p-password>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-error mb-0">
                <div *ngIf="password.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="password.errors?.['minlength']">
                  This field must have at least 1 character.
                </div>
                <div *ngIf="password.errors?.['maxlength']">
                  This field must have at most 250 characters.
                </div>
              </div>
            </div>


            <div class="flex align-items-center justify-content-between mb-5 gap-5">
              <div class="flex align-items-center">
                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1">Remember me</label>
              </div>
              <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot
                password?</a>
            </div>
            <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="onSubmit()"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
