<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button" (click)="menu.toggle($event)">
        <i class="pi pi-user"></i>  Bienvenido, {{userAcces.name}}
    </button>
  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

    <button class="p-link " (click)="menu.toggle($event)">
      <i class="pi pi-user"></i>
      <span>  Bienvenido, {{userAcces.name}}</span>
    </button>
  </div>


  <p-slideMenu #menu [model]="tieredItems" [popup]="true" [viewportHeight]="250" [menuWidth]="175"></p-slideMenu>

</div>
